:root{
  --blue:hsl(223, 87%, 63%);
  --pale-blue:hsl(223, 100%, 88%);
  --Ligh-Red: hsl(354, 100%, 66%);
  --Gray: hsl(0, 0%, 59%);
  --Dark-Blue: hsl(209, 33%, 12%);
  --white:hsl(0, 0%, 100%);
}

body{
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 300;
  scroll-behavior: smooth;
}
.header__img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}
@media screen and (min-width:1024px) {
  body::-webkit-scrollbar{
    border-radius: 7px;
    width: 7px;
    background-color: var(--blue);
  }
  body::-webkit-scrollbar-thumb{
    background-color: var(--Ligh-Red);
    border-radius: 7px;
  }
  .header__img{
    width: 10%;
  }
}
.header{
  padding: 3em 1em;
}
.header__title{
  font-size: 1.8rem;
  font-weight: 600;
  text-align: center;
  color: var(--Gray);
}
.header__info{
  color: var(--Dark-Blue);
  text-align: center;
  font-weight: 300;
}
@media screen and (min-width:1024px) {
  .header__title{
    font-size: 2.5rem;
  }
  .header__info{
    font-size: 1.4rem;
  }
}
.text--light{
  font-weight: 700;
  color: var(--Dark-Blue);
}
.subscribe{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  height: 100px;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.subscribe__input,
.subscribe__submit{
  outline: none;
  padding: 0.8em;
  border: 1px solid var(--blue);
  border-radius: 25px;
  text-align: center;
}
::placeholder{
  color: var(--Gray);
}
.subscribe__submit{
  box-shadow:  3px 5px 8px rgb( 0 0 0 /0.25);
}

.error{
  margin-top: 5px;
  text-align: center;
  color: var(--Ligh-Red);
  font-weight: 700;
  opacity: 0;
  transition:opacity 0.4s;
}
.error--email{
  border: 1px solid var(--Ligh-Red);
}
.show--error{
  opacity: 1;
}
@media screen and (min-width:1024px) {
  .subscribe{
    position: relative;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .subscribe__input,
  .subscribe__submit{
    margin-left: 10px;
  }
  .subscribe__input{
    width: 400px;
  }
  .subscribe__submit{
    width: 250px;
    cursor: pointer;
  }
  .error{
    position: absolute;
    bottom: -20px;
    left: 25%;
  }
}
.subscribe__submit{
  font-weight: 700;
  border: 0;
  background-color: var(--blue);
  color: var(--white);
}
.hero__image{
  display: block;
  width: 80%;
  margin: 50px auto 0;
}
@media screen and (min-width:1024px) {
  .hero__image{
    width: 60%;
  }
}
.footer{
  margin: 8em auto 6em;
}

.footer__social{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__link{
  text-decoration: none;
  margin-left: 25px;
}
.fab{
  font-size: 1.2rem;
  color: var(--blue);
}
.footer__copyright{
  text-align: center;
  color: var(--Gray);
}

@media screen and (min-width:1024px) {
  .footer{
    position: relative;
    margin-bottom: 2em;
  }
  .footer__link{
    margin-left: 40px;
  }
  .fab{
    position: relative;
  }
  .fab:hover{
    color: var(--white);
  }
  .fab:hover::after{
    content: '';
    position: absolute;
    top: -8px;
    left: -9.5px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: var(--blue);
    z-index: -1;
  }
}
.modal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0 0 0 /0.5);
  display: grid;
  place-items: center;
  transform: scale(0);
  transition:0.4s;
  z-index: 10;
  color: var(--white);
}
.modal__content{
  position: relative;
  width: 80%;
  height: 250px;
  background-color: var(--Dark-Blue) ;
  color: var(--White);
  border-radius: 7px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-size: 1rem;
}
@media screen and (min-width:1024px) {
  .modal__content{
    width: 30%;
  }
}
.fas{
  font-size: 3rem;
}
.modal__message{
  text-align: center;
  font-size: 1.2rem;
}
.modal__accept{
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  padding: 0.8em;
  text-align: center;
  background-color: var(--blue);
  border-radius: 25px;
  cursor: pointer;
}
.modal--show{
  transform: scale(1);
}